<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Sprite 211.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Sprite 214.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>17</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>156</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Sprite 213.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>17</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>175</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Sprite 181.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>10</integer>
				<key>originalHeight</key>
				<integer>17</integer>
				<key>x</key>
				<integer>194</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Sprite 186.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>37</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>206</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Sprite 175.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>245</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Sprite 169.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>316</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Sprite 162.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>17</integer>
				<key>originalHeight</key>
				<integer>54</integer>
				<key>x</key>
				<integer>389</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Sprite 164.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>17</integer>
				<key>originalHeight</key>
				<integer>54</integer>
				<key>x</key>
				<integer>408</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Sprite 160.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>171</integer>
				<key>x</key>
				<integer>427</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Sprite 158.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>182</integer>
				<key>x</key>
				<integer>528</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Sprite 156.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>618</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>miku0.png</string>
			<key>realTextureFileName</key>
			<string>miku0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>